@use "../../../theme.module.scss" as customTheme;


.wrapperTextFieldClass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  legend {
    display: none;
  }

  .form-control {
    border-radius: customTheme.$borderRadius !important;
    border: 2px solid customTheme.$green !important;
    padding: 12px 14px !important;
    box-shadow: 0px 2px 10px customTheme.$green !important;
    width: 100% !important;
    &:focus, 
    &:hover {
      border-color: customTheme.$teal !important;
    }
  }

  .is-invalid {
    border-color: customTheme.$error !important;
  }

  .helper-label-class {
    font-weight: bold;
    color: customTheme.$orange;
    font-family: customTheme.$lato;
  }
}