@use "./theme.module.scss" as customTheme;

body {
  background-color: white;
  font-size: 16px;
  color: customTheme.$black;
}

// HELPERS
.debug {
  border: 1px solid red;
}

.handwriting {
  font-family: customTheme.$handwriting;
}

// CUSTOM DESIGNS
.btn-primary {
  color: customTheme.$white !important;
  background-color: customTheme.$green !important;
  padding: 5px 25px;
  outline: none;
  border: 0px;
  border-radius: 10px;
  vertical-align: -webkit-baseline-middle;
  &:hover,
  &:focus {
    background-color: customTheme.$teal !important;
  }
}
.btn-secondary {
  color: customTheme.$white !important;
  background-color: customTheme.$orange !important;
  padding: 5px 30px;
  outline: none;
  border: 0px;
  border-radius: 10px;
  vertical-align: -webkit-baseline-middle;
  &:hover,
  &:focus {
    background-color: customTheme.$pink !important;
    color: customTheme.$black !important;
  }
}

.btn-tertiary {
  color: customTheme.$white !important;
  background-color: customTheme.$teal !important;
  padding: 5px 30px;
  outline: none;
  border: 0px;
  border-radius: 10px;
  vertical-align: -webkit-baseline-middle;
  &:hover,
  &:focus {
    background-color: customTheme.$orange !important;
  }
}

//BACKGROUNDS
.bg-lightbeige {
  background-color: customTheme.$bg-lightbeige;
}
.bg-darkbeige {
  background-color: customTheme.$bg-darkbeige;
}
.bg-green {
  background-color: customTheme.$green;
}
.bg-teal {
  background-color: customTheme.$teal;
}

.text-secondary {
  color: customTheme.$orange !important;
}

// NAVBAR
.nav-top {
  background-color: customTheme.$teal;
  color: white;
}

// VIDEO HEADER
.video-header {
  width: 100%;
  height: 100vh;
  display: flex;

  &-video {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -2;
    object-fit: cover;
  }
  &-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(94, 87, 54, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &-content {
    color: white;
    width: 100%;
    height: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    text-align: center;
    padding-bottom: 30px;
    h3 {
      font-size: clamp(1.8rem, 0.5769rem + 2.5641vw, 2.3rem);
      font-family: customTheme.$poppins;
      font-weight: 200;
    }

    h1 {
      font-size: clamp(3rem, -0.2308rem + 8.9744vw, 6.5rem);
      text-align: center;
      font-family: customTheme.$playfair;
      font-weight: 800;
      font-style: normal;
    }
  }
}

// ABOUT
.about {
  h3 {
    font-family: customTheme.$literata;
    font-size: 2em;
  }
  h5 {
    color: customTheme.$pink;
    font-size: 1.5em;
    font-family: customTheme.$afacad;
  }

  .row {
    display: flex;
    align-items: center;
    > div {
      padding: 30px;
    }
  }

  &-photo {
    display: flex;
    justify-content: flex-end;
    img {
      max-width: 100%;
    }
  }
}

// FEATURED
.featured,
.companies {
  margin-top: 50px;
  text-align: center;
  h3 {
    font-family: customTheme.$playfair;
    font-style: italic;
  }
  .row > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .grid-item {
    padding: 15px;
  }
  img {
    max-height: 80px;
    max-width: 100%;
  }
}

.carousel-section-topper {
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
  margin-top: 100px;
  &.reviews-topper {
    background-image: url("./assets/reviews-topper.png");
  }
  &.services-topper {
    background-image: url("./assets/services-topper.png");
  }
  &.contactus-topper {
    background-image: url("./assets/reviews-topper.png");
  }
}

.reviews-companies-section {
  background-color: customTheme.$bg-lightbeige;
  padding-bottom: 50px;
}
.services-section {
  background-color: customTheme.$bg-darkbeige;
  padding-bottom: 50px;
}

.contactus-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: customTheme.$bg-lightbeige;
  h3 {
    font-family: customTheme.$literata;
  }
}

.carousel-outer-container {
  position: relative;
  padding: 0 40px;
}

.carousel-card {
  padding: 20px;
  display: flex;
  justify-content: center;
  padding-top: 80px;
  font-family: customTheme.$lato;
  .card {
    border-radius: 50% 50% 0 0;
  }
  &-inner {
    width: 350px;
    min-width: 350px;
    max-width: 350px;
    border-radius: 175px 175px 10px 10px;
    background-color: white;
  }
  &-img {
    text-align: center;
    img {
      max-width: 70%;
      opacity: 0.7;
      height: auto;
      margin-top: -60px;
    }
  }
  &-content {
    padding: 20px 35px 55px;
    text-align: justify;
  }
  &-name {
    color: customTheme.$teal;
    font-weight: 700;
    margin-bottom: 0;
    font-size: 1.7rem;
  }
  &-highlight {
    color: customTheme.$teal;
    font-style: italic;
    font-weight: 600;
    margin: 25px 0 10px;
    font-size: 1.1rem;
  }
  &-service {
    color: customTheme.$orange;
    font-style: italic;
    font-size: 1.1rem;
  }
  &-review {
    font-weight: 300;
    font-size: 1.1rem;
    font-style: italic;
  }
}

.arrow {
  position: absolute;
  top: 50%;
  margin-top: -35px;
  z-index: 1;
  border: 0;
  background: transparent;

  img {
    max-height: 80px;
    width: auto;
  }
}

.right {
  right: -10px;
}

.left {
  left: -10px;
}

.custom-button-group {
  position: absolute;
}

// LOGO CAROUSEL
.logo-container {
  align-items: center;
  display: flex;
  height: 100%;
  padding: 20px;
  img {
    max-width: 100%;
  }
}

// MEDIA SECTION

.media-section {
  padding-top: 100px;
  h3 {
    font-weight: 200;
  }
  img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  button {
    border: 0;
    border-radius: 5px;
    color: white;
    padding: 5px 25px 7px;
  }

  .media-intro-section {
    padding: 50px 30px;
  }

  .podcast-blog-section {
    .podcast-blog-content {
      padding: 30px 20px 40px;
    }
    > div {
      padding: 0 !important;
    }
    .podcast-section {
      background-color: customTheme.$bg-lightbeige;
      border-top: 8px solid customTheme.$orange;
      h3 {
        color: customTheme.$orange;
      }
      button {
        background-color: customTheme.$orange;
      }
    }
    .blog-section {
      background-color: customTheme.$bg-darkbeige;
      border-top: 8px solid customTheme.$green;
      h3 {
        color: customTheme.$green;
      }
      button {
        background-color: customTheme.$green;
      }
    }
  }

  .highlight-section {
    padding: 0;
  }

  .newsletter-section {
    padding-top: 30px;
    h2,
    h5 {
      font-family: customTheme.$literata;
      padding: 5px 0;
    }
    button {
      background-color: customTheme.$green;
    }
    .green-highlight {
      font-weight: bold;
      color: customTheme.$green;
    }
  }

  .youtube-section {
    background-image: url("./assets/youtube-bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 500px;
    background-position: center;
    text-align: center;
    padding-top: 50px;
    p {
      font-size: 1.1rem;
    }
    button {
      background-color: customTheme.$orange;
      margin-top: 20px;
    }
    h3 {
      color: customTheme.$orange;
    }
  }
}

//NEWSLETTER SECTION
#newsletter {
  padding: 3% 10%;
  .flower-image {
    position: absolute;
    z-index: 1;
    bottom: -30px;
    right: 0;
  }
  .newsletter-text {
    h1 {
      font-size: 4rem;
      text-align: center;
      font-family: customTheme.$literata;
    }
    h5 {
      font-family: customTheme.$lato;
      font-weight: 300;
    }
  }
  .btn-tertiary {
    padding: 12px 90px !important;
    line-height: 24px !important;
    margin-top: 34px;
  }
}
@media screen and (max-width: 768px) {
  #newsletter {
    padding: 3% 5%;
    .flower-image {
      width: 100%;
    }
    .newsletter-text {
      h1 {
        font-size: 2rem;
      }
      h5 {
        font-size: 1.08rem;
      }
    }
    .btn-tertiary {
      padding: 12px 50px !important;
      line-height: 24px !important;
      margin-top: 34px;
    }
  }
}

#footer {
  padding: 50px 10% 3%;
  color: customTheme.$white;
  font-family: customTheme.$lato;
  a {
    color: customTheme.$white;
    border-bottom: 3px solid transparent;
    text-decoration: none;
    &:hover,
    &:focus {
      outline: none;
      color: customTheme.$orange;
    }
  }
  .common-footer-social {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    border: none;
    &:hover {
      text-decoration: none;
      border: none;
    }
    svg {
      width: 40px;
      height: 40px;
    }
  }
}
